html,body{
	overflow-x: hidden;
}
/*element wrapping the typing element needs to be inline-block*/
@keyframes typing{		
	from {width: 0}
	to {width: 100%}
}
@keyframes blinkCaret{
	from, to{border-color: transparent}
	50%{ border-color: rgb(25, 85, 147);}
}
@keyframes buttonPop{
	from, to{background-color: #449d44}
	50%{background-color: #5cb85c}
}

/*font-family: 'Press Start 2P', cursive;*/
.introPageMain, .gamePageMain{
	height: 100vh;
}
.introPageMain{
	background-color: rgb(25, 85, 147);
	font-family: 'Press Start 2P', cursive;
}
.gamePageMain{
	background-color:rgb(227, 129, 23);
}
/*end of container css*/

.logo-charSelection{
	height: 70%;
}
.charSelect{
	height: 97%;
	box-sizing: border-box;
	border: 5px dashed;
	background-color: rgba(227, 145, 23, 1);
	margin-top: 10px;
	margin-left: 4.1666%;
}
.charSelect>div:first-child{
	height: 70%;
}
.introBackground{
	height: 100%;
	background: url('../images/introBG.gif');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-left: 4.1666%;
}
.charSelect>div:nth-child(2){
	height: 30%;
}
.charBanner{
	height: 98%;
	background-color: rgb(255,255,255);
	border: 5px dashed;
	padding: 0;
}
.gameLogo, .initialCharSelect{
	height: 100%;
}
.logoArea, .infoArea{
	height: 50%;
}
.logoArea{
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.infoArea button{
	border: none;
	background: none;
	margin-top: 5%;
}
.aboutButton i{
	color: rgba(25, 85, 147, 0.6);
}
.aboutButton i:hover{
	color: rgba(25, 85, 147,1);
}
.instructionButton i{
	color: rgba(227, 145, 23, 0.6);
}
.instructionButton i:hover{
	color: rgba(227, 145, 23, 1);
}
.initialCharSelect{
	border-left: 5px dashed;
	border-right: 5px dashed;
}
.charSelectDrop, .gameStart{
	height: 50%;
}
.charSelectDrop{
	position: relative;
	border-bottom: 5px dashed;
}
.charSelectDrop h4{
	margin-top: 5.5%;
	margin-bottom: 5.5%;
}
.charSelectDrop h5{
	margin: 0;
	font-size: 11px;
}
.charDropMenu{
	position: absolute;
	width: 100%;
	height: 350%;
	left: 0;
	display:none;
	z-index: 1;
	background-color: white;
	border: 5px dashed;
	overflow: auto;
}
.charDropMenu::-webkit-scrollbar{
	width: 7px;
	background-color: rgb(25, 85, 147);
}
.charDropMenu::-webkit-scrollbar-thumb{
	width: 5px;
	border-radius: 20px;
	background-color:rgb(227, 129, 23);
}
.characterList{
	list-style-type: none;
	text-align: center;
	padding: 10px;
}
.characterList li:hover{
	background-color: lightblue;
}
.characterList .charListIcon{
	width: 30px;
	height: 30px;
}
.gameStart button{
	width: 95%;
	height: 98%;
	margin-left: 2.5%;
}
.startButtonPop{
	animation:
		buttonPop .85s infinite;
}
.initialScreenConsole{
	font-size: 18px;
}
.initialScreenConsole div{
	display: inline-block;
} 
.initialScreenConsole p{
	overflow: hidden;
	border-right: .15em solid rgb(25, 85, 147);
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation: 
		typing 2s steps(40, end),
		blinkCaret .85s step-end infinite;
}
.player1Color{
	color: #ec971f;
}
.playerCharDisplay{
	height: 30%;
}
.player1_intro, .player2_intro{
	height: 90%;
	box-sizing: border-box;
	border: 5px dashed;
	background-color: rgb(255,255,255);
}
.player1_intro ul, .player2_intro ul{
	list-style-type: none;
}
.player1_intro{
	/*margin-right: 10px;*/
	border-right: 2.5px dashed;
}
.player2_intro{
	/*margin-left: 10px;*/
	border-left: 2.5px dashed;
}
@media screen and (max-width: 768px){
	.logo-charSelection{
		height: 60%;
	}
	.charSelect{
		margin-top: 5px;
		height: 94%;	
		margin-left: 0;
	}
	.introBackground{
		margin-left: 0;
	}
	.charBanner{
		margin-left: 4.1666%;
	}
	.gameLogo{
		display: none;
	}
	.playerCharDisplay{
		height: 40%;
	}
	.characterList{
		font-size: 9px;
	}
	.characterList .charListIcon{
		width: 15px;
		height: 15px;
	}
	.gameStart button{
		font-size: 7px;
	}
	.initialScreenConsole{
		font-size: 10px;
	}
	.player1_intro, .player2_intro{
		height: 80%;
		border: 2.5px dashed;
	}
	.player1_intro{
		border-right: 1.5px dashed;
	}
	.player2_intro{
		/*margin-left: 8.3333%;*/
		border-left: 1.5px dashed;
	}
}
/*end of intro page main css*/
#gamePageMain{
	display: none;
}
.gameBannerRow{
	height: 10%;
}
.gameBanner{
	height: 95%;
	border: 4px dashed;
	background-color:rgba(25, 85, 147,0.8);
}
.gameBodyRow{
	height: 90%;
}
.gameBody{
	margin-left: 4.1666%;
	height: 98%;
	border: 4px dashed;
	background-color: rgb(255,255,255);
}
.gameBodyDisplay{
	height: 75%;
	/*border: 1.5px solid;*/
	font-family: 'Press Start 2P', cursive;
}
.quadUpper, .quadLower{
	height: 50%;
}
.quad1, .quad2, .quad3, .quad4{
	height: 99%;
}
.quad1, .quad3{
	border: 1px solid orange;
}
.quad2, .quad4{
	border: 1px solid blue;
}
.player2_charStats, .player1_charStats{
	/*height: 70%;*/
	/*border: 1px solid green;*/
}
.player2_charStats{
	margin-top: 10%;
	background-image: url(../images/charStat1.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 100% 100%;
	padding: 2%;
}
.player2_currentChar_nameArea, .player2_currentChar_hpArea{
	height: 50%;
	/*border: 1px solid red;*/
}
.player2_charImg{
	height: 100%;
	background-image: url(../images/charMain/ana.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transform: rotateY(180deg);
	border: 1px solid red;
}
.player1_charImg{
	height: 100%;
	background-image: url(../images/charMain/reaper.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 1px solid red;
}
.player1_currentChar_nameArea, .player1_currentChar_hpArea{
	height: 50%;
	/*border: 1px solid red;*/
}
.player1_charStats{
	margin-top: 12%;
	background-image: url(../images/charStat2.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 100% 100%;
	padding: 2%;
}
.changeCharList .playerCharListIcon{
	height: 45px;
	width: 45px;
}


.player1_currentChar_hp, .player2_currentChar_hp{
	height: 10px;
	margin-top: 7px;
}

/*console area css (message and move options)*/
.gameBodyConsole{
	height: 25%;
}
.console{
	height: 98%;
	margin-left: 4.1666%;
	padding:0 5px;
	border: 4px dashed;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.5);
	font-family: 'Press Start 2P', cursive;
	font-size: 24px;

}
.console>div{
	height: 98%;
	margin-top: 0.125%;
	/*border: 1px solid;*/
}
.console>div>ul>li{
	margin-top: 5px;
	font-size: 14px;
	list-style-type: none;
}
.consoleMessage{
	border-right: 4px dashed;
	/*display: flex;*/
	overflow: auto;
}
.consoleMessage::-webkit-scrollbar{
	width: 7px;
	/*background-color:rgb(227, 129, 23);*/
	background-color: rgb(25, 85, 147);
	background-color: white;
}
.consoleMessage::-webkit-scrollbar-thumb{
	width: 5px;
	border-radius: 20px;
	background-color: rgb(25, 85, 147);
}
.consoleMsgList{
	display: inline-block;
	margin-bottom: 2px;
}
.consoleMsgList li:first-child{		/*typing animation for first li element in console*/
	/*display: inline-block;*/
	overflow: hidden;
	border-right: .15em solid rgb(25, 85, 147);
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation: 
		typing 2s steps(40, end),
		blinkCaret .85s step-end infinite;
}

.moveOpt{
	height: 50%;
	font-size: 15px;
	overflow: hidden;
	text-overflow:ellipsis;
}

.moveOptionSkills{
	border-right: 4px dashed;
	border-bottom: 4px dashed;
}
#skill_4{
	font-size: 20px;
}
.moveOptionRageQuit{
	border-top: 4px dashed;
	border-left: 4px dashed;
}
.skillList, .changeCharList, .useList{
	position: absolute;
	width: 200%;
	height: 150%;
	/*left: 0;*/
	right: 0;
	bottom: 0;
	display:none;
	z-index: 1;
	border: 4px dashed;
	/*default display - block*/
	/*overflow: hidden;
	text-overflow:ellipsis;*/
	background-color:white;
}
.moveOptions ul{
	list-style-type:none;
}
/*.moveOptions li:focus{
	list-style-type: square;
}*/
.changeCharList li{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.changeCharList .playerCharName{
	/*flex-grow: 2;*/
	/*width: 40%;*/
	/*flex-shrink: 3;*/
}
.changeCharList .progress{
	padding: 0;
	margin-right: 20%;
	/*margin-left: 10%;*/
	margin-bottom: 0;
	width: 30%;
	height: 7px;
	border: 0.5px solid;
}
/*.skillList, .changeCharList, .useList{
	background-color: white;
}*/
.tracker{
	font-size: 175%;
}
@media screen and (max-width: 1024px){
	.consoleMessage li{
		font-size: 11.5px;
	}
	.moveOpt{
		padding: 0;
		font-size: 13px;
	}
	#skill_1, #skill_2, #skill_3, #skill_4{
		font-size: 16px;
	}
	.changeCharList .playerCharName{
		font-size: 12px;
	}
	.useList{
		font-size: 18px;
	}
	.backButton{
		font-size:15px;
	}
}
@media screen and (max-width: 768px){
	/*.console{
		font-size: 18px;
	}*/
	.consoleMessage li{
		font-size: 11.5px;
	}
	.moveOpt{
		padding: 0;
		font-size: 13px;
	}
	#skill_1, #skill_2, #skill_3, #skill_4{
		font-size: 14px;
	}
	/*.changeCharList .playerCharName{
		font-size: 12px;
	}*/
	.useList{
		font-size: 18px;
	}
}

.modal-content{
	font-family: 'Press Start 2P', cursive;
	border-radius: 15px;
}
.modal-title-wrap{
	display:inline-block;
}
#gameEndModalTitle{		/*typing animation for first li element in console*/
	/*display: list-item;*/
	overflow: hidden;
	border-right: .15em solid rgb(25, 85, 147);
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation: 
		typing 3s steps(40, end),
		blinkCaret .85s step-end infinite;
}
.modal-header, .modal-footer{
	background-color: rgba(25, 85, 147, 0.7);
	border: 3px dashed black;
	box-sizing: border-box;
	color: white;
	text-shadow: 
	-1px -1px 0 #000,
	1px 1px 0 #000,
	2px 2px 0 #000;
}
.modal-header{
	border-radius: 15px 15px 0 0;
}
.modal-header .audioToggler{
	float: right;
	border: 0;
	background: 0;
	color: rgba(255,255,255,0.5);
}
.modal-header .audioToggler:hover{
	color: rgba(255,255,255,1);
}
.modal-header .close{
	color: red;
}
.modal-header .close:hover{
	color: red;
}
.modal-body{
	background-color: rgba(227, 145, 23, 0.7);
}
.modal-footer{
	border-radius: 0 0 15px 15px;
}